<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button color="secondary"></ion-menu-button>
        </ion-buttons>
        <div class="auth-content altoCompleto">
            <div class="arriba">
                <div style="position:absolute; top:12px;">
                    <ion-title color="light">{{ 'USERS.USERS' | translate}}</ion-title>
                </div>
                <ion-item style="width:350px; float: right;">
                    <ion-icon name="md-globe" slot="start" color="light"></ion-icon>
                    <ion-label color="light">{{ 'SETTINGS.APP_LANGUAGE' | translate}}</ion-label>
                    <ion-select [(ngModel)]="idioma" (ionChange)="changeLanguage($event)">
                        <ion-select-option value="es">Español</ion-select-option>
                        <ion-select-option value="en">English</ion-select-option>
                    </ion-select>
                </ion-item>
            </div>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-card class="bg-white" no-margin>

        <ion-card-content>
            <ion-card class="bg-primary" no-margin no-padding>
                <ion-card-content no-margin no-padding>
                    <div class="listFriends" *ngFor="let user of users">
                        <ion-item class="bg-primary" no-margin>
                            <ion-buttons slot="end">
                                <ion-button shape="round" color="dark" slot="end" (click)="chat(user.username)">
                                    <ion-icon name="send" class="larger" item-right></ion-icon>

                                </ion-button>
                                <br>

                            </ion-buttons>

                            <ion-avatar slot="start">
                                <img src="{{user.image}}" class="user-avatar">

                            </ion-avatar>

                            <ion-label>

                                <ion-text color="dark">
                                    <h2>
                                        <strong>{{user.firstName}} {{user.lastName}}</strong>
                                    </h2>
                                </ion-text>
                            </ion-label>
                        </ion-item>
                    </div>

                </ion-card-content>
            </ion-card>

        </ion-card-content>
    </ion-card>

</ion-content>